* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #55C0EC;
    text-align: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.special {
    color: #FFD24B;
}

.item {
    color: #CED5DA;
    text-decoration: underline;
}

header {
    background-color: #3C596C;
}

footer {
    background-color: #3C596C;
    color: #CED5DA;
}