* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #3C596C;
    text-align: center;
    font-size: 1.2em;
    font-family: helvetica;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.btn_one {
    background-color: #FAFAFA;
}

.btn_two {
    background-color: #3C596C;
    color: #CED5DA;
}

.btn_one:hover {
    background-color: #EAF9FD;
}

.btn_two:hover {
    background-color: #4B4B4B;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
}

header {
    background-color: #3C596C;
    font-size: 0.95em;
}

h2 {
    text-decoration: underline #55C0EC;
}

.item {
    color: #CED5DA;
    text-decoration: underline;
}

footer {
    background-color: #3C596C;
    color: #CED5DA;
    font-size: 0.6em;
    line-height: 2em;
    padding: 15px;
}

.first {
    background-color: #55C0EC;
}

.second, .fourth {
    background-color: #FAFAFA;
}

.third {
    background-color: #75E5AB;
}

.menu {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.menu_items {
    padding: 9px;
}

.special {
    color: #FFD24B;
}

ul {
    list-style-type: none;
}