* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #55C0EC;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.special {
    color: #FFD24B;
}

header {
    background-color: #3C596C;
}